* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}
.hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.hero h1 {
  font-size: 90px;
  margin-bottom: 20px;
}

.hero-button button {
  background: #000;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  outline: none;

  text-align: center;
  margin-top: 50px;
  margin-left: 10px;
  font-size: 20px;
}
.hero-button button a {
  text-decoration: none;
  color: white;
}
.hero-button button:first-child {
  margin-left: 0;
}

.hero-button button i {
  margin-left: 15px;
  font-size: 20px;
}

.contact {
  width: 100%;
  /* height: 100vh; */
  margin-top: 40px;
}

.contact-form {
  width: 70%;
}

.contact h1 {
  margin-bottom: 30px;
}
.contact-form form {
  margin-top: 30px;
}

.get-in-touch {
  margin-top: 90px;
}
.get-in-touch .contact-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.get-in-touch .contact-menu .address,
.phone,
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-in-touch .contact-menu i {
  color: #ffb544;
  font-size: 50px;
}

.download {
  width: 100%;
  /* height: 100vh; */
}
.download .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  overflow: hidden;
}

.download .card .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.download .card .info h1 {
  font-size: 20px;
}
.download .card img {
  width: 20%;
}

.download .card .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download .card .button button {
  height: 50%;
  width: 120px;
  margin-right: 10px;
}

.footer .container{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links,
.social-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.links a {
  text-decoration: none;
}
